.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(33, 125, 146);
    color: black;
    height: 100px;
    width: 100px;
    border-radius: 15cm;
}
.container{
    display: flex;
    justify-content: center;
}
.heading{
    display: flex;
    justify-content: center;
}